/*body{*/
  /*background-image: url("source/img/background.jpg");*/
  /*background-color: #0e0e29;*/
/*}*/
.title{
  color:white;
  font-family: 'Sofia';
  font-size:60px;

}

.ellis{
  width:450px;
  height:auto;;
  display: block;
  margin: auto;
  margin-top: 130px;
}
.center{
  margin: auto;
  text-align: center;
}
html {
  height: 100%;
}
body {
  background-image: -webkit-linear-gradient(90deg, #191970, #000000);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
 /*//background: linear-gradient(0deg, #191970, #000000);*/

}

#star_field {
  z-index:-1;
}